node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
yarn.lock
index-orig.html
output.css
tw.code-workspace
beach-1024.xcf
beach-1920.jpg
beach-1920.xcf
beach-560.xcf
beach.xcf
tot.html
tot.html.br
tot.html.gz
woot.html
dist/
index-ya.html
mail-icon.svg
output-v000.css
output-v001.css
output-v002.css

