/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  background-image: url("beach-560.jpg");
}

@media (min-width: 1024px) {
  body {
    background-image: url("beach-1024.jpg");
  }
}

.shadow-black {
  text-shadow: 4px 4px 5px black;
}

.place-items-center {
  place-items: center center;
}

.list-check {
  list-style-type: "✓ ";
}
